* {
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Cambria, Georgia, Times, serif;
    color: #3b3b3b;
    background-color: #E7E4D5;
    margin: 0;
    padding: 0;
}

.box {
    margin: 0 auto 16px auto;
    padding: 1rem 2rem;
    max-width: 1000px;
}

article, section {
    background-color: #f4f4f4;
}

header, footer {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    margin: 0 0.25em;
}

nav a, nav a:link, nav a:visited {
    color: #474747;
}

nav a:hover, nav a:active {
    color: #703E3B;
}

h1, h2, h3, h4 {
    font-family: Lato, sans-serif;
    font-weight: normal;
    color: #333333;
}

h1 {
    font-size: 1.5rem;
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 1.1rem;
}

h3, h4 {
    font-size: 1rem;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #C84648;
}

a:hover, a:active {
    color: #703E3B;
}

.links, .links li {
    list-style-type: none;
}

.meta {
    color: #777;
    font-size: 0.9em;
}

p {
    line-height: 1.35;
}

hr {
    border: 0;
    width: 100%;
    color: #777;
    background-color: #D3C8B4;
    height: 1px;
}

/* Scale body text size depending on browser width */
@media all {html {font-size: 21px}}
@media all and (max-width:1000px){html {font-size: 21px !important}}
@media all and (max-width:960px) {html {font-size: 20px !important}}
@media all and (max-width:920px) {html {font-size: 19px !important}}
@media all and (max-width:880px) {html {font-size: 18px !important}}
@media all and (max-width:840px) {html {font-size: 17px !important}}
