* {
    box-sizing: border-box;
}

html {
    font-size: 21px;
}

body {
    color: #3b3b3b;
    background-color: #E7E4D5;
    margin: 0;
    padding: 0;
}

.box {
    margin: 0 auto 16px auto;
    padding: 1rem 2rem;
    max-width: 1000px;
}

article, section {
    background-color: #f4f4f4;
}

header, footer {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    margin: 0 0.25em;
}

nav a, nav a:link, nav a:visited {
    color: #474747;
}

nav a:hover, nav a:active {
    color: #703E3B;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: #333333;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
}

h3, h4 {
    font-size: 1rem;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #C84648;
}

a:hover, a:active {
    color: #703E3B;
}

.links, .links li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.links li + li {
    margin-top: 1em;
}

.meta {
    color: #777;
    font-size: 0.9em;
}

p {
    line-height: 1.35;
}

hr {
    border: 0;
    width: 100%;
    color: #777;
    background-color: #D3C8B4;
    height: 1px;
}

.faded {
    opacity: 0.3;
}

section h1 {
    font-size: 1.1rem;
    text-align: center;
}

section h2 {
    font-size: 1.1rem;
    margin: 0 0 1em 0;
}

.title {
    font-size: 1rem;
}

.experience {
    margin-bottom: 1rem;
}

.experience p {
    margin-left: 88px;
}

.experience header {
    text-align: left;
    display: flex;
    min-height: 96px;
}

.experience header a, .experience header a:link, .experience header a:visited {
    color: #474747;
}

.experience header ul a {
    color: #C84648 !important;
}

.experience header a:hover, .experience header a:active {
    color: #703E3B;
}

.experience h1 {
    text-align: left;
    margin: 0;
}

.experience h2 {
    font-size: 1rem;
    margin: 0;
}

.experience img {
    object-fit: scale-down;
    margin: 0 auto;
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 24px;
}

.experience div {
    align-self: flex-start;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.experience ul {
    flex: 0 0 auto;
    align-self: flex-start;
    text-align: right;
}

.experience .when {
    margin: 0 0 8px 0;
    padding: 0;
    color: #bbb;
    font-size: 0.8rem;
}

.experience p {
    margin-top: 0;
}

ul {
    list-style: none;
}
