html, body {
  height: 100%;
}

body {
    font-family: Merriweather, Cambria, Georgia, Times, serif;
    font-size: 16px;
    color: #3b3b3b;
    padding: 0;
    margin: 0;
    position: relative;
}

header {
    margin: 0 0 16px 16px;
    padding: 0;
}

article {
    max-width: 68em;
    min-height: 100%;
    margin: 0 auto 0 auto;
    padding: 30px 4em 8px 4em;
}

article header, article footer {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    margin: 0 0.25em;
}

nav a, nav a:link, nav a:visited {
    color: #474747;
}

nav a:hover, nav a:active {
    color: #549eff;
}

h1, h2, h3, h4 {
    font-family: Lato, sans-serif;
    font-weight: normal;
    color: #333333;
}

h1 {
    font-size: 2.5em;
    margin: 0 0 8px 0;
    padding: 0;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

h3, h4 {
    font-size: 1.1em;
    margin: 0.5em 0 0.2em 0;
    padding: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #549eff;
}

a:hover, a:active {
    color: #05b2c2;
}

.links, .links li {
    list-style-type: none;
    margin-left: 0.5em;
    padding-left: 0;
}

.meta {
    color: #777;
    font-family: Inconsolata, monospace;
    font-size: 0.9em;
}
