<div>
  <h2>Navigation</h2>
  <ul>
    <li><a href="/" title="Home">Home</a></li>
    
{pagelinks}
    
    <li><a href="screenshots/" title="Screenshots">Screenshots</a></li>
  </ul>
</div>

<div>
  <h2>Archives</h2>
  <ul>

{archivelinks}

  </ul>
</div>

<div>
  <h2>Networks</h2>
  <ul>
    <li><a href="http://www.anime-planet.com/users/Barrucadu" title="Anime Planet">Anime Planet</a></li>
    <li><a href="http://www.facebook.com/barrucadu" title="Facebook">Facebook</a></li>
    <li><a href="http://www.github.com/barrucadu" title="Github">Github</a></li>
    <li><a href="http://www.goodreads.com/barrucadu" title="Goodreads">Goodreads</a></li>
    <li><a href="https://plus.google.com/109268744603270819027/posts" title="Google+">Google+</a></li>
    <li><a href="http://identi.ca/barrucadu" title="Identi.ca">Identi.ca</a></li>
    <li><a href="http://www.last.fm/user/Barrucadu" title="last.fm">last.fm</a></li>
  </ul>
</div>
