*
{
    margin: 0px;
    padding: 0px;
}

html, body
{
    height: 100%;
}

body
{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    background-color: #f7f7f7;
    color: #444444;;
}

a
{
    text-decoration: none;
    color: #2ca1b0;
}

a:hover
{
    color: #273a49;
}

#container
{
    min-height: 100%;
    position: relative;
}

.left
{
    float: left;
}

ul.buttons
{
    list-style-type: none;
}

ul.buttons li
{
    display: block;
    float: right;
    margin: 0px 16px 0px 16px;
}

a img
{
    border: none;
}

h1
{
    font-size: 4em;
    color: #584d4d;
    font-variant: small-caps;
}

h1 a
{
    color: #584d4d;
}

#header
{
    padding: 24px 64px 24px 64px;
    min-height: 64px;
}

.tagline
{
    font-size: 1.1em;
    font-style: italic;
    color: #aaaaaa;
}

#content
{
    margin-left:    360px;
    padding-bottom: 100px;
    text-align:     justify;
}

#mainbar
{
    padding-top: 8px;
    padding-right: 200px;
    text-align: justify;
}

#sidebar
{
    position: absolute;
    top: 128px;
    left: -16px;
    padding-left: 48px;
    height: 0px;
    width: 280px;
}

#sidebar div
{
    margin-bottom: 16px;
}

#sidebar h2
{
    font-size: 1.5em;
    margin-bottom: 4px;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
}

#sidebar ul
{
    list-style-type: none;
    padding-left: 16px;
}

#sidebar li
{
    margin-bottom: 4px;
    clear: both;
}

h2
{
    font-weight: normal;
}

h3
{
    font-size: 1.5em;
    font-weight: normal;
}

#mainbar .blog
{
    margin-bottom: 32px;
}

#mainbar p
{
    margin: 8px 0px;
}

#mainbar ul, #mainbar ol
{
    margin-left: 32px;
}

#mainbar h2
{
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 8px;
}

#mainbar h2 a
{
    color: #222222;
}

.timestamp, .meta
{
    color: #aaaaaa;
    display: block;
}

#mainbar .timestamp
{
    float: right;
}

#sidebar .timestamp
{
    text-align: right;
}

.timestamp a, .meta a
{
    font-style: italic;
}

pre
{
    font-family: "Courier New", "DejaVu Sans Mono", monospace;
    font-size: 1.1em;
    color: #000000;
    margin: 10px;
    background-color: #eeeeee;
    border: 1px solid #887d7d;
    padding: 5px;
    border-left-width: 5px;
    overflow: auto;
}

blockquote
{
    margin: 10px;
    padding: 5px;
    border-top: 1px solid #c8bdbd;
    border-bottom: 1px solid #c8bdbd;
    background-color: #eeeeee;
}

dt
{
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 6px;
}

dd
{
    margin-left: 32px;
}

#footer
{
    min-height: 32px;
    position: absolute;
    bottom: 24px;
    width: 100%;
}

#footer div
{
    padding-left: 64px;
    padding-right: 64px;
}

ol.gallery
{
    list-style-type: none
}

ol.gallery li
{
    display: inline;
    margin: 10px;
}