---
title: The Descent of Ištar into the Netherworld
filters: [akk]
template: akk.html
body_class: akk
source:
  type: normalisation
  url: https://www.soas.ac.uk/baplar/recordings/istars-descent-netherworld-lines-1-125-read-martin-west
  title: BAPLAR (which has a recording of a reading, too)
feed:
  published: 2025-01-01
  summary: "Translation of the poem 'The Descent of Ištar into the Netherworld' from the normalisation."
---
{% block preamble %}
<p><em>The Descent of Ištar</em> (<a href="https://en.wikipedia.org/wiki/Descent_of_Inanna_into_the_Underworld">wikipedia</a>) is the story of how Ištar&mdash;the goddess of love, sex, and war&mdash;decided to visit the Netherworld, got trapped, and had to be rescued by quick-thinking Ea who supplied a handsome man to distract Ereškigal&mdash;the Queen of the Netherworld.  While Ištar was trapped, living creatures stopped producing offspring, so there's maybe a seasonal connotation there too (à la the Greek myth of Persephone).</p>
<p>My Assyriological hot take is that this is essentially a worse version of the Sumerian <em>Angalta</em>, but I don't know Sumerian yet so I can't translate that.  But one day I will!</p>
<p>See also <a href="posts/2024/12/ishtar.html" title="Advent of Ištar">my blog post</a>.</p>
{% endblock %}

{% block translation %}
%akk:trans To the Netherworld, the land of no return,
%akk:orig ana kurnugi qaqqari l[ā târi]

%akk:trans Ištar, daughter of Sîn, set her mind,
%akk:orig ištar mārat sîn uzunša [iškun]
%akk:vocab uzunša iškun: literally "put her ear"

%akk:trans Her mind she set, the daughter of Sîn:
%akk:orig iškun-ma mārat sîn uzu[nša]

%akk:trans To the dark house, the seat of Irkalla;
%akk:orig ana bīti eṭê šubat ir[kalla]

%akk:trans To the house that none who enter can leave;
%akk:orig ana bīti ša ēribūšu lā aṣû
%akk:vocab ša ēribūšu lā aṣû: literally "of its enterers no-departing"

%akk:trans To the journey that none who take can return;
%akk:orig ana harrāni ša alaktaša lā tayyā[rat]
%akk:vocab ša alaktaša lā tayyārat: literally "of its going no-returning"

%akk:trans To the house whose inhabitants are deprived of light;
%akk:orig ana bīti ša āšibūšu zummû nū[ra]

%akk:trans Where the hungry eat food of clay,
%akk:orig ašar epru bubūssunu akalšunu ṭi[ṭṭu]
%akk:note Literally "it is necessary to feed the hungry food of clay"

%akk:trans They do not see light, they dwell in darkness,
%akk:orig nūra ul immarū ina eṭûti aš[bū]

%akk:trans They are clothed like birds, with garments of plumage.
%akk:orig labšū-ma kīma iṣṣūri ṣubāt gap[pi]

%akk:trans Dust upon the door and bolt,
%akk:orig eli dalti u sikkūri šabuh epru

%akk:trans Ištar arrived at the gate of the Netherworld,
%akk:orig ištar ana bāb kurnugi ina kašādīša
%akk:note This could be a pun, the verb "kašādum" means both "to arrive" and "to conquer"

%akk:trans She speaks a command to the keeper of the gate:
%akk:orig ana atu bābi amātum izzakkar

%akk:trans "Hey, gatekeeper!  Open your gate for me,
%akk:orig atû mê petâ bābka
%akk:note "atû" here means "gatekeeper", the previous line uses the construct form in "atu bābi" (note "u" vs "û") with "bābi" meaning "gate" to get the "keeper of the gate" phrasing instead

%akk:trans Open your gate, I will enter!
%akk:orig petâ bābka-ma lūruba anāku
%akk:vocab lūruba: 1st person singular G-precative of "erēbum" ("to enter") with ventive suffix (with mimation omitted) (this one took me a little while)

%akk:trans If you do not open the gate and I, myself, do not enter:
%akk:orig šumma lā tapattâ bābu lā erruba anāku
%akk:note I'm not sure why "bābu" is in the nominative, and not the accusative, here

%akk:trans I will strike the door, I will break the lock!
%akk:orig amahhaṣ daltum sikkūru ašabbir

%akk:trans I will smash the lintel, and I will yank the doors!
%akk:orig amahhaṣ sippū-ma ušbalakkat dalāti

%akk:trans I will break the mechanism, I will remove the knob!
%akk:orig ašabbir gišrinam-ma aša[hhaṭ k]arra

%akk:trans I will bring up the dead so they eat the living:
%akk:orig ušellâ mītūti ikkalū balṭūti

%akk:trans The dead will outnumber the living!"
%akk:orig eli balṭūti ima’’idū mītūti

%akk:trans The gatekeeper made ready his words,
%akk:orig atû pâšu īpuš-ma iqabbi

%akk:trans To Great Ištar he says:
%akk:orig izzakkara ana rabīti ištar

%akk:trans "Wait, my lady, do not throw down the gate!
%akk:orig izizzī bēltī lā tanaddâssi
%akk:vocab tanaddâssi: literally "throw it down"

%akk:trans Allow me to go relate your words to the queen, Ereškigal."
%akk:orig lullik zikirki lušanni ana šarrati e[reški]gal
%akk:vocab zikirki lušanni: literally "may I do your words again"

%akk:trans In went the doorkeeper to speak to Ereškigal:
%akk:orig ērum-ma atû izzakkara [ana ereškigal]

%akk:trans "Your sister Ištar stands at the gate,
%akk:orig annītu mê ahātaki ištar [izzaz ina bābi]

%akk:trans The holder of the great ropes, who stirs up the cosmic waters in the presence of King Ea!"
%akk:orig m[u]kiltu ša keppê rabûti dā[lihat apsî mahar ea šarri]
%akk:note This is probably referencing some mythology I don't know

%akk:trans Ereškigal, in hearing this matter,
%akk:orig ereški[ga]l annī[t]a in[a] šemîša

%akk:trans Her face became as pale as a cut tamarisk,
%akk:orig kīma nikis bīni ēriqū pānūša

%akk:trans Her lips turned as black as the rim of a basket,
%akk:orig kīma šapat kunīni iṣlimā šabātūša
%akk:note Lips were said to "turn dark with anger"

%akk:trans "What brought her heart to me?  What brightened her intention towards me?
%akk:orig miná libbaša ublanni miná kabt[assa] ušperdânni
%akk:vocab kabtassa ušperdânni: literally "brightened her liver"

%akk:trans Do I drink water with the Anunnaki?
%akk:orig annītu mê itti anunnakī mê ašatti

%akk:trans Do I eat clay as if it were food? Do I drink cloudy water as if it were beer?
%akk:orig kīma aklī akal ṭiṭṭa kīma šikāri ašattâ mê dalhūti

%akk:trans Let me weep for young men separated from their wives.
%akk:orig lubki ana eṭlūti ša ēzibū hīrēti

%akk:trans Let me weep for young women taken captive from the lap of their husbands.
%akk:orig lubki ana ardāti ša ultu sūn hāirišina [šallupāni]
%akk:note I suspect "taken captive" is a euphemism for death, i.e. "taken captive [by the Netherworld]"

%akk:trans Let me weep for the suckling child, gone before their day.
%akk:orig ana šerri lakê lubki ša ina lā ūmīšu ṭardu
%akk:vocab ṭardu: literally "driven off"

%akk:trans Go, gatekeeper, open your gate for her,
%akk:orig alik atû pitâšši bāb[ka]
%akk:vocab pitâšši: variant form (Middle Babylonian) of "pitīšim", 2nd person singular G-imperative of "petûm" ("to open") with suffix meaning "to / for her"

%akk:trans Treat her according to the rites of old."
%akk:orig uppissi-ma kīma parṣī labirūti

%akk:trans The gatekeeper went, and opened his gate,
%akk:orig illik atû iptâšši bāb[šu]

%akk:trans "Enter, my lady, and let Kutha rejoice,
%akk:orig erbī bēltī kutâ lirīški

%akk:trans Let the palace of the Netherworld rejoice in your presence."
%akk:orig ekal kurnugi lihdu ina pānīki

%akk:trans He brought her through the first gate: he removed and took the great crown from her head.
%akk:orig ištēn bāba ušēribši-ma umtaṣṣi ittabal agâ rabâ ša qaqqadīša
%akk:vocab ištēn: "one" / "first"

%akk:trans "Why, gatekeeper, did you take the great crown from my head?"
%akk:orig ammīni atû tatbal agâ rabâ ša qaqqadīya

%akk:trans "Enter, my lady.  These are the rites of the mistress of the Netherworld."
%akk:orig erbī bēltī ša bēlet erṣetim kī’am parṣūša

%akk:trans He brought her through the second gate: he removed and took the rings from her ears.
%akk:orig šanâ bāba ušēribši-ma umtaṣi ittabal inṣabāte ša uznīša
%akk:vocab šanâ: "two" / "second"

%akk:trans "Why, gatekeeper, did you take the rings from my ears?"
%akk:orig ammīni atû tatbal inṣabāte ša uznīya

%akk:trans "Enter, my lady.  These are the rites of the mistress of the Netherworld."
%akk:orig erbī bēltī ša bēlet erṣetim kī’am parṣūša

%akk:trans He brought her through the third gate: he removed and took the beads from her neck.
%akk:orig šalšu bāba ušēribši-ma umtaṣi ittabal erimmāti ša kišādīša
%akk:vocab šalšu: "three" / "third"

%akk:trans "Why, gatekeeper, did you take the beads from my neck?"
%akk:orig ammīni atû tatbal erimmāti ša kišādiya

%akk:trans "Enter, my lady.  These are the rites of the mistress of the Netherworld."
%akk:orig erbī bēltī ša bēlet erṣetim kī’am parṣūša

%akk:trans He brought her through the fourth gate: he removed and took the broaches from her breast.
%akk:orig rebû bāba ušēribši-ma umtaṣi ittabal dudinnāte ša irtīša
%akk:vocab rebû: "four" / "fourth"

%akk:trans "Why, gatekeeper, did you take the broaches from my breast?"
%akk:orig ammīni atû tatbal dudinnāte ša irtīya

%akk:trans "Enter, my lady.  These are the rites of the mistress of the Netherworld."
%akk:orig erbī bēltī ša bēlet erṣetim kī’am parṣūša

%akk:trans He brought her through the fifth gate: he removed and took the belt of birthstones from her waist.
%akk:orig hamšu bāba ušēribši-ma umtaṣi ittabal šibbu aban alādi ša qablīša
%akk:vocab hamšu: "five" / "fifth"

%akk:trans "Why, gatekeeper, did you take the belt of birthstones from my waist?"
%akk:orig ammīni atû tatbal šibbu aban alādi ša qablīya

%akk:trans "Enter, my lady.  These are the rites of the mistress of the Netherworld."
%akk:orig erbī bēltī ša bēlet erṣetim kī’am parṣūša

%akk:trans He brought her through the sixth gate: he removed and took the rings of her hands and feet.
%akk:orig šeššu bāba ušēribši-ma umtaṣi ittabal šemerī qātīša u šēpīša
%akk:note These are bracelets and anklets, not finger and toe rings as I initially thought
%akk:vocab šeššu: "six" / "sixth"

%akk:trans "Why, gatekeeper, did you take the rings of my hands and feet?"
%akk:orig ammīni atû tatbal šemerī qātīya u šēpīya

%akk:trans "Enter, my lady.  These are the rites of the mistress of the Netherworld."
%akk:orig erbī bēltī ša bēlet erṣetim kī’am parṣūša

%akk:trans He brought her through the seventh gate: he removed and took the formal garments from her body.
%akk:orig sebû bāba ušēribši-ma umtaṣi ittabal ṣubāt balti ša zumrīša
%akk:vocab sebû: "seven" / "seventh"

%akk:trans "Why, gatekeeper, did you take the formal garments from my body?"
%akk:orig ammīni atû tatbal ṣubāt balti ša zumrīya

%akk:trans "Enter, my lady.  These are the rites of the mistress of the Netherworld."
%akk:orig erbī bēltī ša bēlet erṣetim kī’am parṣūša

%akk:trans From the very moment Ištar went down to the Netherworld,
%akk:orig ištu ullânum-ma ištar ana kurnugi ūridu

%akk:trans Ereškigal saw her: her face trembled with anger.
%akk:orig ereškigal īmurši-ma ina pānīša ir’ub

%akk:trans Ištar, unaware, sat above,
%akk:orig ištar ul immalik elênušša ušbi

%akk:trans Ereškigal made ready to speak,
%akk:orig ereškigal pâša īpuš-ma iqabbi

%akk:trans To Namtar her chief minister she speaks a command:
%akk:orig ana namtar [sukkallīša amātum izzakkar]

%akk:trans "Go Namtar [...] send out 60 diseases against Ištar the Great:
%akk:orig alik namtar [...] / šūṣâšši šūši m[urṣī ana rabīti] ištar
%akk:vocab šūṣâšši: variant form (Middle Babylonian) of "šūṣiaššim", 2nd person singular G-imperative of "aṣûm" ("to go out") with suffix meaning "to / for her"

%akk:trans Eye disease against her eyes;
%akk:orig muruṣ īni ana īnīša
%akk:note These lines are very formulaic, "muruṣ X ana Xsa": "X disease against her X"

%akk:trans Arm disease against her arms;
%akk:orig muruṣ ahi a[na ahī]ša

%akk:trans Foot disease against her feet;
%akk:orig muruṣ šēpī a[na šēpī]ša

%akk:trans Heart disease against her heart;
%akk:orig muruṣ libbi a[na libbīša]

%akk:trans Head disease against her head;
%akk:orig muruṣ qaqqadi [ana qaqqadīša]

%akk:trans Send out diseases to all of Ištar!"
%akk:orig ana šâša gabbīša-ma [šūṣâšši murṣī]

%akk:trans Henceforth Great Ištar went down into the Netherworld.
%akk:orig arki ištar bēltī [ana kurnugi ūridu]

%akk:trans Oxen stopped jumping on cows, and donkeys on jennys,
%akk:orig ana būrti alpu ul išahhi[ṭ imēru atānu ul ušarra]
%akk:vocab ul išahhiṭ: literally "do not jump"
%akk:vocab ul ušarra: literally "do not lay down with"

%akk:trans Young women in the street stopped laying with young men.
%akk:orig ardatum ina sūqi [ul ušarra eṭlu]
%akk:note I don't know what the "in the street" part means

%akk:trans Lay the young man in the innermost room of his house.
%akk:orig ittīl eṭ[lu ina kummīšu]
%akk:note I've seen one translation do this as "the young man sleeps in his bedroom"

%akk:trans Lay the young woman on her side.
%akk:orig [it]tīl a[rdatum ina ahītīša]
%akk:note And one translation do this as "the young woman sleeps by herself"

%akk:trans Papsukkal, vizier of the great gods, bent low, his nose and face clouded over,
%akk:orig papsukkal sukkal il[ī] rabûti quddud appašu pānūšu [arpū]

%akk:trans Wearing mourning clothes, with unkempt hair,
%akk:orig karru labiš malê na[škun]
%akk:vocab malê naškun: literally "he is/was put with unkempt hair"

%akk:trans He went, tired, before Sîn, his father, weeping,
%akk:orig illik anhiš ina pān sîn abīšu iba[kki]

%akk:trans His tears went before Ea, King of the Gods:
%akk:orig ina pān ea šarri illakā dimāšu

%akk:trans "Ištar went down to the Netherworld and has not come up,
%akk:orig ištar ana erṣetim ūrid ul īlâ

%akk:trans From the very moment Ištar went down to the Netherworld,
%akk:orig ultu ullânum-ma ištar ana kurnugi ūridu
%akk:vocab ultu: variant of "ištu"

%akk:trans Oxen stopped jumping on cows, and donkeys on jennys,
%akk:orig ana būrti alpu ul išahhi[ṭ imēru atānu ul ušarra]

%akk:trans Young women in the street stopped laying with young men.
%akk:orig ardatum ina sūqi [ul ušarra eṭlu]

%akk:trans Lay the young man in the innermost room of his house.
%akk:orig ittīl eṭlu ina kum[m]īšu

%akk:trans Lay the young woman on her side."
%akk:orig ittīl ardatum ina ahī[tīša]

%akk:trans Ea, in the wisdom of his heart, created a man,
%akk:orig ea ina emqi libbīšu ibtani z[i]kru

%akk:trans He created Aṣûšu-namir, a male cultic prostitute.
%akk:orig ibnī-ma aṣûšu-namir assinnu

%akk:trans "Go, Aṣûšu-namir, show your face at the gate of the Netherworld,
%akk:orig alka aṣûšu-namir ina bāb kurnugi šukun pānīka

%akk:trans May the seven gates of the Netherworld be opened before you,
%akk:orig sebet bābū kurnugi lippetû ina pānīka
%akk:vocab ina pānīka: literally "before your face"

%akk:trans May Ereškigal see you, and rejoice in your presence,
%akk:orig ereškigal līmurka-ma in[a p]ānīka lihdu

%akk:trans After her heart rests, her mood improves,
%akk:orig ultu libbaša inuhhu kabtassa ippereddû
%akk:vocab kabtassa ippereddû: literally "her liver shines brightly"

%akk:trans Make her speak the oath of the great gods,
%akk:orig tummeši-ma nīš ilī rabûti

%akk:trans Raise your head, turn your attention to the waterskin,
%akk:orig šuqqi rēšīka ana halziqqi uzna šukun

%akk:trans 'O my lady, may they give me the waterskin, may I drink its waters.'"
%akk:orig ē bēltī halziqqu lid<di>nūni mê ina libbi luštatti
%akk:note I assume this has something to do with the practice of offering water to the ghosts of the dead, see also when Ereškigal said "Do I drink water with the Anunnaki?"

%akk:trans Ereškigal, in hearing this matter,
%akk:orig ereškigal annīta ina šemîša

%akk:trans Beat her thigh, bit her finger,
%akk:orig tamhaṣ pēmša taššuka ubānša

%akk:trans "You have asked me a question that should not be asked!
%akk:orig tēteršanni erištum ša lā erēši
%akk:vocab ša lā erēši: literally "of no asking"

%akk:trans Come, Aṣûšu-namir, may I curse you with a great curse!
%akk:orig alka aṣûšu-namir lūzirka izra rabâ

%akk:trans May the bread of the ploughs of the city be your bread!
%akk:orig aklī epinnēt āli lū akalka
%akk:note The dictionary has this very sentence under the "epinnum" ("plough") entry with the comment "uncertain meaning"

%akk:trans May the habannatu-containers of the city be your cup!
%akk:orig habannāt āli lū maltītka
%akk:note habannatu-containers may have been used for sewage

%akk:trans May the shade of the city wall be your position!
%akk:orig ṣillī dūri lū manzāzūka

%akk:trans May the doorstep be your home!
%akk:orig askuppātu lū mušābūka

%akk:trans May drink and thirst strike your cheek!"
%akk:orig šakru u ṣamû limhaṣū lētka

%akk:trans Ereškigal made ready to speak,
%akk:orig ereškigal pâša īpuš-ma iqabbi

%akk:trans To Namtar her chief minister she speaks commands:
%akk:orig ana namtar sukkallīša amāta izzakkar

%akk:trans "Go, Namtar, strike the true palace,
%akk:orig alik namtar mahaṣ ēkalla kitta

%akk:trans Decorate the threshold slab with white coral,
%akk:orig askuppāti za’’ina ša ayyarāti

%akk:trans Bring out the Anunnaki, seat them in gold thrones,
%akk:orig anunnakī šūṣâ ina kussi hurāṣi šūšib

%akk:trans Sprinkle Ištar with the water of life; bring her before me."
%akk:orig ištar mê balāṭi suluhši-ma leqâšši ina mahrīya

%akk:trans Namtar went and struck the true palace,
%akk:orig illik namtar imhaṣ ēkalla kitta

%akk:trans He decorated the threshold slab with white coral,
%akk:orig askuppāti uza’’inā ša ayyarāti

%akk:trans He brought out the Anunnaki and seated them in gold thrones,
%akk:orig anunnakī ušēṣâ ina kussi hurāṣi ušēšib

%akk:trans He sprinkled Ištar with the water of life; he took her before Ereškigal.
%akk:orig ištar mê balāṭi isluhši-ma ilqâšši ana mahrīša

%akk:trans He took her out through the first gate: he returned the formal garments of her body.
%akk:orig ištēn bāba ušēṣiši-ma utterši ṣubāt balti ša zumrīša
%akk:note See line 61

%akk:trans He took her out through the second gate: he returned the rings of her hands and feet.
%akk:orig šanâ bāba ušēṣiši-ma utterši šemer qātīša u šēpīša
%akk:note See line 58

%akk:trans He took her out through the third gate: he returned the belt of birthstones of her waist.
%akk:orig šalša bāba ušēṣiši-ma utterši šibbu aban alādi ša qablīša
%akk:note See line 55

%akk:trans He took her out through the fourth gate: he returned the broaches of her breast.
%akk:orig rebû bāba ušēṣiši-ma utterši dudinnāte ša irtīša
%akk:note See line 52

%akk:trans He took her out through the fifth gate: he returned the beads of her neck.
%akk:orig hamšu bāba ušēṣiši-ma utterši erimmāti ša kišādīša
%akk:note See line 49

%akk:trans He took her out through the sixth gate: he returned the rings of her ears.
%akk:orig šeššu bāba ušēṣiši-ma utterši inṣabāte ša uznīša
%akk:note See line 46

%akk:trans He took her out through the seventh gate: he returned the great crown of her head.
%akk:orig sebû bāba ušēṣiši-ma utterši agû rabâ ša qaqq[adīša]
%akk:note See line 43
{% endblock %}
