.big-link:before, .big-link:after {
    content: "✦";
    color: var(--marker-fg);
    font-size: 1rem;
    vertical-align: middle;
    padding: 0 0.5rem;
}
.big-link {
    font-family: "Heliotrope Caps", cursive;
    display: block;
    text-align: center;
}

/* outlines boxes */
.navgrid {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: stretch;
    align-items: start;
    gap: 1em;
}

.navgrid li {
    display: block;
}

.navgrid-header {
    align-self: center;
    text-align: center;
}

.navgrid-item, .box {
    display: block;
    background-color: var(--box-bg);
    border: 2px dashed var(--marker-fg);
    padding: 0.5em;
}

.navgrid-header .navgrid-item-title {
    font-size: 3rem;
    text-transform: uppercase;
    max-width: 150px;
    text-align: center;
}
.navgrid-item .navgrid-item-title {
    margin: 0 0 8px 0;
    font-style: normal;
    text-align: center;
}
.navgrid-item-title::before {
    content: "";
}

.navgrid time {
    float: right;
    font-weight: bold;
}

.box {
    display: flex;
    align-items: center;
    gap: 9px; /* match the div padding */
}

.box img {
    max-width: 128px;
    max-height: 64px;
}

.box-text {
    width: 100%;
}

/* akkadian pages */
body.akk {
    background-image: url("akkadian/background.webp");
    background-repeat: repeat-y;
}
@media (prefers-color-scheme: dark) {
    body.akk {
        background-image: url("akkadian/background-dark.webp");
    }
}
#akk-toggle {
    margin: 0 auto 1.6rem auto;
    display: none;
    background-color: var(--bg);
}
.akk-line {
    display: grid;
    grid-template-areas:
        "lineno trans"
        "lineno details";
    grid-column-gap: 1em;
    grid-template-columns: min-content auto;
}
.akk-line + .akk-line {
    margin-top: 1.6rem;
}
.akk-line span {
    display: block;
}
.akk-lineno {
    grid-area: lineno;
}
.akk-trans {
    grid-area: trans;
}
.akk-details {
    grid-area: details;
}
.akk-vocab {
    list-style-type: none;
}
