* {
    box-sizing: border-box;
    max-width: 100%;
    object-fit: scale-down;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

body {
    color: #3b3b3b;
    background-color: #E7E4D5;
    padding: 0 20px;
}

ul, ol {
    padding-left: 20px;
}

p {
    line-height: 1.2;
    margin-bottom: 16px;
}

li {
    margin-bottom: 16px;
}

hr {
    border: 0;
    width: 100%;
    color: #777;
    background-color: #D3C8B4;
    height: 1px;
    margin-bottom: 8px;
}

h1, h2, h3, h4 {
    font-weight: normal;
    color: #333333;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
}

h3, h4 {
    font-size: 1rem;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #C84648;
}

a:hover, a:active {
    color: #703E3B;
}

#wrapper {
    max-width: 960px;
    margin: 64px auto;
}

#header {
    text-align: center;
}

#footer {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.navigation {
    text-align: center;
}

.navigation__link {
    margin: 8px;
    display: inline-block;
    font-size: 2rem;
}

.navigation__link, .navigation__link:link, .navigation__link:visited {
    color: #474747;
}

.box {
    margin-top: 16px;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
}

.links, .links li {
    list-style-type: none;
    padding-left: 0;
}

.meta {
    color: #777;
    font-size: 0.9em;
}

section h1 {
    font-size: 1.1rem;
    text-align: center;
}

section h2 {
    font-size: 1.1rem;
}

.title {
    font-size: 1rem;
}

.experience {
    margin-bottom: 1rem;
}

.experience__header {
    display: grid;
    grid-template-columns: 64px auto auto;
    grid-column-gap: 1rem;
    grid-template-areas: "logo info links";
}

.experience__logo {
    grid-area: logo;
}

.logo {
    object-fit: scale-down;
    margin: 0 24px 0 auto;
    display: block;
    width: 64px;
    height: 64px;
}

.logo--faded {
    opacity: 0.3;
}

.experience__info  {
    grid-area: info;
    text-align: left;
}

.experience__org-link, .experience__org-link:link, .experience__org-link:visited {
    color: #474747;
}

.experience__info__when {
    margin-bottom: 8px;
    color: #bbb;
    font-size: 0.8rem;
}

.experience__links {
    grid-area: links;
    text-align: right;
    list-style: none;
}

.experience__links__item {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }

    #wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .experience__header {
        grid-template-columns: 64px auto;
        grid-template-areas:
            "logo info"
            "links links";
    }
}
