<section class="experience">
  <header>
    <a href="{{ entry.org.url }}">
      {% if entry.org.logo is defined %}
      <img src="logos/{{ entry.org.logo }}" alt="{{ entry.org.name }}">
      {% else %}
      <img class="faded" src="logos/{{ fallback_logo }}" alt="{{ entry.org.name }}">
      {% endif %}
    </a>
    <div>
      <h1><a href="{{ entry.org.url }}">{{ entry.org.name }}</a></h1>
      <h2>{{ entry.role_name }}</h2>
      <p class="when">{{ entry.html_range | safe }}</p>
    </div>
    {% if entry.github is defined %}
    <ul class="github">
      {% for gh in entry.github %}
      <li><a href="https://github.com/{{ gh }}">{{ gh }}</a> <i class="fa fa-github"></i>
      {% endfor %}
    </ul>
    {% endif %}
  </header>
  {% if entry.html_summary is defined %}
  <p>{{ entry.html_summary | safe }}</p>
  {% else %}
  <p>{{ entry.summary }}</p>
  {% endif %}
  {% if entry.html_summary2 is defined %}
  <p>{{ entry.html_summary2 | safe }}</p>
  {% elif entry.summary2 is defined %}
  <p>{{ entry.summary2 }}</p>
  {% endif %}
</section>
