<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="{{ base_href }}">

    <title>{{ title }}</title>

    <link rel="stylesheet preload" href="{{ hashed_links['main.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['fontawesome.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['webfonts.css'] }}" as="style" type="text/css">
  </head>

  <body>
    <div id="wrapper">
      <header id="header">
        {% block header %}{% endblock %}
      </header>

      {% block body %}{% endblock %}

      {% if link != "index.html" %}
      <footer id="footer" class="navigation">
        <a class="navigation__link" href="" title="Go back"><i class="fa fa-arrow-left"></i></a>
      </footer>
      {% endif %}
    </div>
  </body>
</html>
