<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <base href="{{ base_href }}">

    <title>{{ title }}</title>

    <link rel="stylesheet preload" href="{{ hashed_links['main.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['fontawesome.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['webfonts.css'] }}" as="style" type="text/css">
  </head>

  <body>
    <article>
      <header class="box">
        {% block header %}{% endblock %}
      </header>

      {% block body %}{% endblock %}

      {% if link != "index.html" %}
      <footer>
        <nav>
          <a href="" title="Go back"><i class="fa fa-arrow-left"></i></a>
        </nav>
      </footer>
      {% endif %}
    </article>
  </body>
</html>
