{% extends "default.html" %}
{% block opengraph %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ feed.published }}" />
<meta property="article:modified_time" content="{{ feed.updated }}" />
<meta property="article:author" content="https://www.barrucadu.co.uk/" />
{% endblock %}
{% block content %}
<section id="preamble">
  {% block preamble required %}{% endblock %}

  <p><small>Translated from the <a href="{{ source.url }}">{{ source.type }} at {{ source.title }}</a>.</small></p>
</section>

<section id="translation">
  <h2>Translation</h2>

  {% block pretranslation %}{% endblock %}

  <button id="akk-toggle" onclick="toggleDetails()">Toggle all notes</button>

  {% block translation required %}{% endblock %}
</section>

<script>
  let isOpen = false;
  function toggleDetails() {
      if(isOpen) {
          document.body.querySelectorAll("details").forEach((e) => e.removeAttribute("open"));
      } else {
          document.body.querySelectorAll("details").forEach((e) => e.setAttribute("open", true));
      }
      isOpen = !isOpen;
  }
  document.body.querySelector("#akk-toggle").style.display = "block";
</script>
{% endblock %}
{% block footer %}
<span class="big-link"><a href="akkadian">return to Akkadian pages</a></span>
{% endblock %}
