---
title: barrucadu
---
{% block content %}
<section>
  <h2>Hello,</h2>

  <p>
    I'm <strong>barrucadu</strong>, also known in meatspace as <strong>Michael Walker</strong>.
  </p>

  <p>
    I <a href="https://bookdb.barrucadu.co.uk/" rel="me">read books</a> (mostly sci-fi &amp; fantasy, but I've been getting into history too);
    I <a href="https://www.anime-planet.com/users/Barrucadu/" rel="me">watch anime</a>;
    I <a href="https://github.com/barrucadu/" rel="me">program things</a> <a href="fun.html">for fun</a> (and <a href="boring.html">for work</a>);
    I play and think about roleplaying games a lot, and <a href="https://www.lookwhattheshoggothdraggedin.com/" rel="me">sometimes write about them</a>.
    I <a href="https://weeknotes.barrucadu.co.uk/" rel="me">write weeknotes</a>, updated every Sunday with what's going on in my life.
    I used to be into boardgames, but I'm not so much anymore; similarly computer games.
    I bake acceptable bread.
    I enjoy listening to metal of all sorts (but casually&mdash;don't expect me to converse intelligently on it).
    <br>
    <small>I don't know what else to write here.</small>
  </p>

  <p>
    You can find me in other places on the world wide web, such as <a href="https://hacksrus.xyz/users/barrucadu" rel="me">the Fediverse</a> or <a href="https://github.com/barrucadu" rel="me">GitHub</a>.
  </p>

  <p>You can also <a href="mailto:mike@barrucadu.co.uk">email me</a>, if you're so inclined.</p>

  <ul class="navgrid">
    <li class="navgrid-header" style="grid-column: 1 / 3; grid-row: 1">
      <h3 class="navgrid-item-title">Recent Writings</h3>
    </li>
    <li class="navgrid-item" style="grid-column: 3 / 6; grid-row: 1">
      <h4 class="navgrid-item-title"><a href="posts/2024/12/ishtar.html">Advent of Ištar</a></h4>
      <small>
        Translating the 125-line Akkadian poem <em>The Descent of Ishtar into the Netherworld</em> to procrastinate Advent of Code.
        <time datetime="2024-12-17">Dec 17, 2024</time>
      </small>
    </li>
    <li class="navgrid-item" style="grid-column: 1 / 5; grid-row: 2 / 4">
      <h4 class="navgrid-item-title"><a href="posts/2024/12/geodistribution.html">Geodistributing my Website (with GeoDNS and NixOS)</a></h4>
      <small>
        Covers: NixOS on Hetzner VMs, ACME DNS-01 (NixOS & AWS IAM config), Route53 GeoDNS, and NixOS distributed builds.
        <time datetime="2024-12-14">Dec 14, 2024</time>
      </small>
    </li>
    <li class="navgrid-item" style="grid-column: 5; grid-row: 2">
      <h4 class="navgrid-item-title" style="margin: 0"><a href="https://weeknotes.barrucadu.co.uk/">My Weeknotes!</a></h4>
    </li>
    <li class="navgrid-item" style="grid-column: 5; grid-row: 3">
      <h4 class="navgrid-item-title" style="margin: 0"><a href="https://www.lookwhattheshoggothdraggedin.com/">My RPG Blog!</a></h4>
    </li>
  </ul>
</section>
{% endblock %}

{% block footer %}
<ul class="navgrid">
  <li class="navgrid-header" style="grid-column: 4; grid-row: 1 / 3">
    <h2 class="navgrid-item-title">Other Pages on This Fine Website</h2>
  </li>
  <li class="navgrid-item" style="grid-column: 1">
    <h3 class="navgrid-item-title" style="margin: 0"><a href="akkadian">Akkadian</a></h3>
  </li>
  <li class="navgrid-item" style="grid-column: 2">
    <h3 class="navgrid-item-title" style="margin: 0"><a href="blogroll.html">Blogs I like</a></h3>
  </li>
  <li class="navgrid-item" style="grid-column: 3">
    <h3 class="navgrid-item-title" style="margin: 0"><a href="fun.html">Things I do for Fun</a></h3>
  </li>
  <li class="navgrid-item" style="grid-column: 1 / 3; grid-row: 2">
    <h3 class="navgrid-item-title" style="margin: 0"><a href="boring.html">Work and Education (the boring stuff)</a></h3>
  </li>
</ul>
{% endblock %}
