{% block content %}
<section>
  <h2>Hello,</h2>

  <p>
    I'm <strong>barrucadu</strong>, also known in meatspace as <strong>Michael Walker</strong>.
  </p>

  <p>
    I <a href="https://bookdb.barrucadu.co.uk/">read books</a> (mostly sci-fi &amp; fantasy, but I've been getting into history too);
    I <a href="https://www.anime-planet.com/users/Barrucadu/">watch anime</a>;
    I <a href="https://github.com/barrucadu/">program things</a> <a href="fun.html">for fun</a> (and <a href="boring.html">for work</a>);
    I play and think about roleplaying games a lot, and <a href="https://www.lookwhattheshoggothdraggedin.com/">sometimes write about them</a>.
    I <a href="https://weeknotes.barrucadu.co.uk/">write weeknotes</a>, updated every Sunday with what's going on in my life.
    I used to be into boardgames, but I'm not so much anymore; similarly computer games.
    I bake acceptable bread.
    I enjoy listening to metal of all sorts (but casually&mdash;don't expect me to converse intelligently on it).
    <br>
    <small>I don't know what else to write here.</small>
  </p>

  <p>
    You can find me in other places on the world wide web, such as <a href="https://hacksrus.xyz/users/barrucadu">the Fediverse</a> or <a href="https://github.com/barrucadu">GitHub</a>.
  </p>

  <p>You can also <a href="mailto:mike@barrucadu.co.uk">email me</a>, if you're so inclined.</p>
</section>
{% endblock %}

{% block footer %}
<span class="big-link">coming soon: Akkadian</span>
<span class="big-link"><a href="blogroll.html">blogs I like</a></span>
<span class="big-link"><a href="fun.html">things I do for fun</a></span>
<span class="big-link"><a href="boring.html">the boring stuff: Work and Education</a></span>
{% endblock %}
