time {
    display: block;
    text-align: center;
}

nav {
    font-size: 2em;
}

h2 {
    margin: 2rem 0;
    text-align: center;
}

h3 {
    font-weight: bold;
}

.figure {
    padding: 1em;
    text-align: center;
}

.figure.figure-sm {
    padding-top: 0;
    padding-bottom: 0;
}

.figure img {
    display: block;
    margin: 0 auto;
}

.figure .caption {
    display: none;
    font-size: 0.8em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.figure .caption.show {
    display: block;
}

blockquote {
    font-size: 0.95em;
    line-height: 1.25em;
    border-left: 1px solid #777;
    padding-left: 1em;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
    display: block;
    float: left;
    width: 100px;
}

pre {
  padding: 10px;
}

pre, code {
  font-size: 0.8em;
}

.row {
    display: flex;
}
