*
{
    margin: 0px;
    padding: 0px;
}

body
{
    margin: 128px auto 0px auto;
    width: 560px;
    font-family: Verdana, "Bitstream Vera Sans", sans-serif;
    color: #584d4d;
    font-size: 11px;
    text-align: center;
}

h1
{
    font-size: 4em;
    padding-bottom: 2px;
    text-align: left;
}

h2
{
    font-size: 2.5em;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 6px;
    text-align: left;
}

img
{
    margin: 0px auto 8px auto;
}

div
{
    text-align: left;
}

span
{
    color: #aaaaaa;
    font-size: 1.1em;
    font-stryle: italic;
}

blockquote
{
    font-size: 1.3em;
}

p
{
    margin-top: 8px;
}

a
{
    color: #2ca1b0;
    text-decoration: none;
}

a:hover
{
    color: #273a49;
}