.sourceCode .dv,.sourceCode .bn,.sourceCode .fl {
  color: #D33682;
}

.sourceCode .ch {
  color: #DC322F;
}

.sourceCode .st {
  color: #2AA198;
}

.sourceCode .co {
  color: #93A1A1;
}

.sourceCode .ot {
  color: #B58900;
}

.sourceCode .al {
  color: #CB4B16;
  font-weight: 700;
}

.sourceCode .er {
  color: #DC322F;
  font-weight: 700;
}

.sourceCode .kw {
  color: #8959a8;
}

.sourceCode .dt,.sourceCode .fu {
  color: #268BD2;
}