time {
    display: block;
    text-align: center;
}

nav {
    font-size: 2em;
}

h2 {
    margin: 2rem 0 1rem 0;
    border-top: 1px solid #ddd;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: 300;
}

h3 {
    text-align: center;
}

.figure {
    padding: 1em;
}

.figure img {
    display: block;
    margin: 0 auto;
}

.figure .caption {
    display: none;
}

hr {
    border: 0;
    width: 100%;
    color: #777;
    background-color: #dddddd;
    height: 1px;
}

blockquote {
    font-size: 0.95em;
    line-height: 1.25em;
    border-left: 1px solid #777;
    padding-left: 1em;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
    display: block;
    float: left;
    width: 100px;
}

code {
    font-family: Inconsolata, monospace;
}

div.highlight {
  margin: 0;
  padding: 0;
}

pre {
  font-size: 0.8em;
  padding: 10px;
  margin: 0;
}
