body {
    font-family: Cambria, Georgia, Times, serif;
    font-size: 16px;
    color: #333;
    background: url(background.png) repeat fixed;
}

h1 {
    font-family: Lato, sans-serif;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-family: Cambria, Georgia, Times, serif;
    font-size: 1em;
    font-weight: bold;
}

div.content, article {
    padding: 25px 90px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 0 rgba(94, 94, 94, 0.1);
    margin: 0 auto 45px auto;
    max-width: 75%;
    width: 960px;
    border: 2px solid rgba(244,13,13,0.25);
    background: url(background-light.png) repeat fixed;
}

a, a:link, a:visited {
    text-decoration: underline;
    color: #EB374B;
}

a:hover, a:active {
    color: #05B2C2;
}

dt {
    font-weight: bold;
    display: block;
    float: left;
    width: 100px;
}

blockquote {
    margin: 1em 2em;
    padding-left: 20px;
    border-left: 3px solid #ccc;
}

div.date {
    width: 100px;
    padding-bottom: 14px;
    margin-left: -120px;
    float: left;
}

div.date p {
    background: #EB374B;
    padding: 5px 10px;
    margin-bottom: 0;
    text-align: right;
    font-family: Lato, sans-serif;
    color: #fff;
    box-shadow: 0 4px 0 #CD172B;
}

div.center {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 45px auto;
}

.icon {
    display: inline-block;
    height: 64px;
    width: 64px;
    text-indent: -9999em;
    margin: 0 1em;
}

#github {
    background-color: #4183c4;
    background-image: url(github.png);
}

#tumblr {
    background-color: #2c4762;
    background-image: url(tumblr.png);
}

#twitter {
    background-color: #00aced;
    background-image: url(twitter.png);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/lato-regular.woff) format('woff'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(/vollkorn-regular.woff2) format('woff2'), url(https://fonts.gstatic.com/s/vollkorn/v6/idGKtgpe38okB6bfeHMsLBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
}

.posts, .posts li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.title {
    font-size: 1.2em;
}

.date {
    font-style: italic;
    font-size: 0.8em;
    color: #bbb;
}

p code {
    font-size: 12px;
    font-family: monospace;
    border: 1px solid #ccc;
    background-color: #fff;
    display: inline-block;
    padding: 2px;
}

h2, h3 {
    font-family: Vollkorn, serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    margin: 10px 0;
    padding: 0;
}

h2 {
    font-size: 2.2em;
}

footer {
    text-align: center;
    font-size: 0.9em;
}