body {
    font-family: Cambria, Georgia, Times, serif;
    font-size: 18px;
    color: #333;
    line-height: 30px;
}

header {
    margin: 0 0 16px 16px;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0 0 8px 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-75%);
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h1, h2, h3 {
    font-family: Lato, sans-serif;
    font-weight: normal;
}

nav {
    display: inline-block;
    margin-left: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    height: 24px;
    line-height: 24px;
    text-align: center;
}

nav a, nav a:link, nav a:visited {
    color: #474747;
}

nav a:hover, nav a:active {
    color: #05B2C2;
}

nav img {
    height: 24px;
    width: 24px;
    margin: 8px 0 0 0;
}

div#wrapper {
    min-width: 20em;
    max-width: 35em;
    margin: 60px 14px 0 64px;
}

dt {
    font-weight: bold;
    display: block;
    float: left;
    width: 100px;
}

p code {
    font-size: 0.8em;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 0;
}

code {
    font-family: Inconsolata, monospace;
}

div.sourceCode {
  margin: 0;
  padding: 0;
}

pre {
  background: white;
  font-size: 1em;
  line-height: 18px;
  border: 1px solid #ccc;
  padding: 10px;
}

pre code {
    font-size: 0.8em;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #4B37EB;
}

a:hover, a:active {
    color: #05B2C2;
}

.links, .links li {
    list-style-type: none;
    margin-left: 0.5em;
    padding-left: 0;
}

.links li {
    margin-bottom: 1em;
}

.title {
    font-size: 1.2em;
}

.description {
    font-size: 0.8em;
}

.meta {
    font-style: italic;
    font-size: 0.8em;
    color: #777;
}

hr {
    border: 0;
    width: 66%;
    color: #777;
    background-color: #777;
    height: 1px;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/lato-regular.woff) format('woff'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(/inconsolata.woff2) format ('woff2'), url(https://fonts.gstatic.com/s/inconsolata/v11/BjAYBlHtW3CJxDcjzrnZCCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
