<li itemscope itemprop="knowsAbout" itemtype="https://schema.org/{{ item_type|e }}">
  <meta itemprop="author"             content="https://www.barrucadu.co.uk">
  <meta itemprop="datePublished"      content="{{ entry.date|e }}">
  <meta itemprop="sourceOrganization" content="University of York">
  {% if entry.in_support_of is defined %}
  <meta itemprop="inSupportOf"        content="{{ entry.in_support_of|e }}">
  {% endif %}
  <a itemprop="url" rel="author" class="title" href="publications/{{ entry.file|e }}.pdf">
    <span itemprop="headline name">{{ entry.title|e }}</span>
  </a>
  <br/>
  <span class="description">
    {% if entry.venue is defined %}
    {{ phrase|e }} <em>{{ entry.venue.name|e }} (<a href="{{ entry.venue.url|e }}">{{ entry.venue.acronym|e }}</a>)</em>.
    {% else %}
    {{ entry.description|e }}
    {% endif %}
    {% if show_bib %}
    [<a itemprop="sameAs" rel="alternate" href="publications/{{ entry.file|e }}.bib">bib</a>]
    {% endif %}
    {% if entry.doi is defined %}
    [<a itemprop="sameAs" rel="alternate" href="https://doi.org/{{ entry.doi|e }}">doi</a>]
    {% endif %}
  </span>
</li>
