<div class="center">
  <a href="https://twitter.com/barrucadu" title="Twitter" class="icon" id="twitter">Twitter</a>
  <a href="http://barrucadu.tumblr.com" title="tumblr" class="icon" id="tumblr">tumblr</a>
  <a href="https://barrucadu.github.io" title="GitHub" class="icon" id="github">GitHub</a>
</div>

<div class="content">
  $body$
</div>

<div class="content">
  <dl>
    <dt>Email</dt>
    <dd>mike@barrucadu.co.uk</dd>

    <dt>IRC</dt>
    <dd>barrucadu on Freenode and Rizon</dd>

    <dt>Jabber</dt>
    <dd>mike@barrucadu.co.uk (otr: A22F6CC2 50A97464 4B9A8BC1 B2F87F78 364DD2BC)</dd>

    <dt>GPG</dt>
    <dd>3F0B 7E4E 590D 9749 CFE7  146E 37F4 AF9F 9F58 FC68</dd>
  </dl>
</div>

<div class="content">
  <ol class="posts">
    $for(entries)$
      <li><a href="$url$" class="title">&ldquo;$title$&rdquo;</a>
        <span class="date">&mdash;$date$</span><br/>
        <span class="description">$description$</span></li>
    $endfor$
  </ol>
</div>
