<h2>Release Notes</h2>
<ol class="links">
  $for(posts_relnotes)$
    <li>
      <time class="meta" datetime="$isodate$">$ppdate$</time>
      &mdash;
      <a href="$url$" class="title">$title$</a>
    </li>
  $endfor$
</ol>

<h2>Concurrency</h2>
<ol class="links">
  $for(posts_concurrency)$
    <li>
      <time class="meta" datetime="$isodate$">$ppdate$</time>
      &mdash;
      <a href="$url$" class="title">$title$</a>
    </li>
  $endfor$
</ol>

<h2>Etc</h2>
<ol class="links">
  $for(posts_etc)$
    <li>
      <time class="meta" datetime="$isodate$">$ppdate$</time>
      &mdash;
      <a href="$url$" class="title">$title$</a>
    </li>
  $endfor$
</ol>
