<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">
    
    <title>$title$</title>
    
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="barrucadu :: All Posts" href="/atom.xml" />

    <!-- Syntax highlighting for blog posts -->
    <link type="text/css" href="/code.css" rel="stylesheet">

    <!-- font-awesome -->
    <link type="text/css" href="/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>Michael Walker (MEng)</h1>

        <nav>
          <ul>
            <li><a href="/">About Me</a></li>
            <li><a href="/publications.html">Publications</a></li>
            <li><a href="https://twitter.com/barrucadu" rel="me" title="Twitter"><i class="fa fa-twitter"></i></a>&nbsp;
              <a href="https://uk.linkedin.com/in/barrucadu" rel="me" title="LinkedIn"><i class="fa fa-linkedin"></i></a>&nbsp;
              <a href="https://barrucadu.github.io" rel="me" title="GitHub"><i class="fa fa-github"></i></a>&nbsp;
              <a href="mailto:mike@barrucadu.co.uk" rel="me" title="Email"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </nav>
      </header>

      $body$
    </div>

  </body>
</html>
