<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">
    
    <title>$title$</title>
    
    <link rel="stylesheet" href="http://www.barrucadu.co.uk/style.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="barrucadu :: All Posts" href="http://www.barrucadu.co.uk/atom.xml" />
  </head>

  <body>
    <header>
      <h1>$title$</h1>
    </header>

    $body$

  </body>
</html>
