<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">
    
    <title>$title$</title>
    
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="barrucadu :: All Posts" href="/atom.xml" />

    <!-- Syntax highlighting for blog posts -->
    <script type="text/javascript" src="/jquery.min.js"></script>
    <link   type="text/css"        href="/code.css" rel="stylesheet">
    <script type="text/javascript" src="/prettify.js"></script>
    <script type="text/javascript" src="/highlight.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>Michael Walker (MEng)</h1>

        <nav>
          <ul>
            <li><a href="/">About Me</a></li>
            <li><a href="/publications.html">Publications</a></li>
            <li><a href="https://twitter.com/barrucadu"><img src="/twitter.png" alt="Twitter"></a>
              <a href="https://barrucadu.github.io"><img src="/github.png" alt="GitHub"></a>
              <a href="mailto:mike@barrucadu.co.uk"><img src="/email.png" alt="Email"></a></li>
          </ul>
        </nav>
      </header>

      $body$
    </div>

  </body>
</html>
