name: Run tests

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5.3.0
      - name: Lint
        run: |
          set -ex
          pip install flake8 black
          black build
          flake8 build
          git diff --exit-code
